#back {
    background-image: url(https://img1.daumcdn.net/thumb/R720x0.q80/?scode=mtistory2&fname=http%3A%2F%2Fcfile28.uf.tistory.com%2Fimage%2F9953E53E5BF4169D2AF828);
    
}

#hello {
    background-image: url(https://t1.daumcdn.net/cfile/tistory/247A8E44583C93EE27);
    background-size: cover;
    text-shadow: white;
    font-size: 400%;
    color: white;
    text-align:center;
    padding: 9%;
    font-family: serif;
}

#btn_group button{
    margin-left: 85px;
    margin-right: auto;
    text-align: center;
    font-size: 150%;
    border: 3px #3c3c3c;
    background-color: rgba(0,0,0,0);
    color : #90AFFF;
    padding: 5%;
    font-weight: 900;
    text-decoration: underline;
    text-underline-position: under;
}

#text {
    font-family: Arial, Helvetica, sans-serif;
    font-size:  20px;
    text-align: center;
    color:#E8F5FF;
    font-weight: 900;
   
}

#hi {
    text-decoration: underline;
    text-underline-position: under;
}

#last {
    color: #E8F5FF;
    font-weight: 900;
    text-align: center;
    font-size:  15px;
    text-decoration: underline;
}